:host {
  display: block;
}
.crear {
  background-color: #ffffff;
  width: 100%;
  max-width: 72rem;
  margin: 0 auto;
}
.crearContenedor {
  padding: 1rem 4rem 2rem;
}
.crearTitulo {
  color: var(--color-primario);
  text-align: center;
  border-bottom: 1px solid var(--color-primario);
  padding: 2rem 0;
  margin: 0;
}
