<div class="tablaContenedor">
  @if (cargando()) {
    <app-progress-bar />
  }
  @if (productos.status() === 'success') {
    <div [ngStyle]="{'overflow-x': 'auto'}">
      <table>
        <thead>
          <tr>
            <th [ngStyle]="{width: '100px', textAlign: 'center'}">Logo</th>
            <th>Nombre del producto</th>
            <th>Descripción</th>
            <th>Fecha de liberación</th>
            <th>Fecha de reestructuración</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (producto of datos(); track producto.id) {
            <tr>
              <td [ngStyle]="{textAlign: 'center'}"><img [ngSrc]="producto.logo" width="50" height="50"></td>
              <td>{{producto.nombre}}</td>
              <td>{{producto.descripcion}}</td>
              <td>{{producto.fechaLiberacion | date: 'dd-MM-yyyy':'GMT'}}</td>
              <td>{{producto.fechaRevision | date: 'dd-MM-yyyy':'GMT'}}</td>
              <td><app-menu-container [producto]="producto" /></td>
            </tr>
          } @empty {
            <div class="tabla--vacio"><span>No existen productos</span></div>
          }
        </tbody>
      </table>
    </div>
    @if (datos(); as resultados) {
      <div class="tablaPie">
        {{resultados?.length}} resultado{{resultados?.length === 1 ? '' : 's'}}
      </div>
    }
  }
</div>
