@if (label) {
  <label
    [for]="inputId"
    [ngStyle]="isInvalid ? {
      'color': '#dd0031'
    } : {}"
    >{{ label }}</label
  >
}
<div class="input">
  <span
    class="inputContenedor"
    coreFormInputError
    [inputControl]="formControl">
    <input
      [ngClass]="errorClass"
      [id]="inputId"
      [type]="inputType"
      [placeholder]="placeholder"
      [disabled]="disabled"
      (input)="onChangeHandler($event)"
      (blur)="onBlurHandler()"
      #inputRef />
  </span>
</div>
