@if (label) {
  <label
    class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
    [for]="inputId"
    [ngClass]="{
      'text-red-600 dark:text-red-500': isInvalid
    }"
    >{{ label }}</label
  >
}
<div>
  <span
    class="block w-full"
    [ngClass]="{
      'p-input-icon-left': iconPos === 'left',
      'p-input-icon-right': iconPos === 'right'
    }"
    coreFormInputError
    [inputControl]="formControl">
    <i
      [class]="icon"
      [ngClass]="{
        'text-red-600 dark:text-red-500': isInvalid
      }"></i>
    <input
      class="block w-full"
      [ngClass]="errorClass"
      [id]="inputId"
      [type]="inputType"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [value]="value"
      (input)="onChangeHandler($event)"
      (blur)="onBlurHandler()"
      pInputText />
  </span>
</div>
