@if (label) {
  <label
    class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
    [for]="inputId"
    [ngStyle]="isInvalid ? {
      'color': '#dd0031'
    } : {}"
    >{{ label }}</label
  >
}
<div>
  <span
    class="block w-full"
    coreFormInputError
    [inputControl]="formControl">
    <input
      class="block w-full"
      [ngClass]="errorClass"
      [id]="inputId"
      [type]="inputType"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [value]="value"
      (input)="onChangeHandler($event)"
      (blur)="onBlurHandler()"
      pInputText />
  </span>
</div>
