<app-boton-atras />
<div class="crear">
  <h1 class="crearTitulo">Formulario de registro</h1>
  <div class="crearContenedor">
    <form [formGroup]="formulario">
      <div class="crearInput">
        <app-input-text
          inputId="id"
          label="ID"
          inputType="text"
          formControlName="id" />
      </div>
      <div class="crearInput">
        <app-input-text
          inputId="nombre"
          label="Nombre"
          inputType="text"
          formControlName="nombre" />
      </div>
      <div class="crearInput">
        <app-input-text
          inputId="desc"
          label="Descripción"
          inputType="text"
          formControlName="descripcion" />
      </div>
      <div class="crearInput">
        <app-input-text
          inputId="logo"
          label="Logo"
          inputType="url"
          formControlName="logo" />
      </div>
      <div class="crearInput">
        <app-input-text
          inputId="liberacion"
          label="Fecha liberación"
          inputType="date"
          formControlName="fechaLiberacion" />
      </div>
      <div class="crearInput">
        <label class="disabled">Fecha revisión</label>
        <input type="text" [disabled]="true" [value]="revision()" />
      </div>
    </form>
  </div>
  <div class="crearBotones">
    <app-boton label="Reiniciar" tipo="button" variante="secundario" (btnClick)="reiniciarFormulario()"/>
    <app-boton label="Enviar" [disabled]="(cargando$ | async) ?? false" (btnClick)="guardar()"/>
  </div>
</div>
