:host {
  display: block;
}
.modalContenido {
  margin-bottom: 6rem;
}
h1 {
  margin: 0;
}
.botones {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1.5rem 0;
  border-top: 2px solid #eaecf2;
  margin-top: 2rem;
}
.botones app-boton {
  flex: 1;
}
